/* body{
  background-color: black;
} */

  #back {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
  }

.theMoon{
/*   background-color: white; */
  width: 140px;
  height: 140px;
/*   margin: 0% ; */
  border-radius: 50%;
  box-shadow: 10px 10px 4px white;
  animation-name: for_moon;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  
  
}

@keyframes for_moon{
    
  0%{
    margin-left: 0px;
  }
    

  30%{
    margin-left: 500px;
  }
  
  50%{
    margin-top: 50px;
  }
  
} 

.theSun{
  
  background-color:yellow ;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: absolute;
  margin-top: 30px;
  box-shadow: 0px 0px 20px yellow;

  
}
